<!DOCTYPE html>
<html>
  <head>
    <title>Favorite colors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="auth-nav">
        <ul>
          <li><a href="">Log in</a></li>
          <li><a href="">Sign up</a></li>
        </ul>
      </nav>
      Votes remaining: <%= @votes %>
      <% if @message %>
      <div class="message">
        <%= @message %>
      </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
